$basicColor: #fbfcfc;
$darkGrey: #909497;
$darkBlue: #1b2631;
$basicDark: #1d1d1d;
$blackMedium: #202124;
$greyLight: #d7dbdd;

.light-mode {
  .name {
    color: red;
  }
  .description {
    color: $basicDark;
  }
  #home-container {
    background-color: #43654d;
  }
  #container-resume {
    background-color: #83927d;
  }
  .contact-container {
    background-color: #43654d;
  }
  .title-section {
    color: $basicDark;
  }
  #container-resume {
    .label-html {
      color: #0c7a45;
    }
    p {
      color: $basicDark;
    }
  }
}

.dark-mode {
  .name {
    color: orange;
  }
  .description {
    color: $basicColor;
  }
  #home-container {
    background-color: $darkGrey;
  }
}

p {
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
}

.span-animated {
  color: $basicDark;
  font-size: 40px;
}

// css general

.text-black {
  color: $basicDark;
}
.text-white {
  color: $basicColor;
}
.title-section {
  color: $basicColor;
}

.align-center {
  text-align: center;
}
.title-white {
  color: $basicColor;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin: 8px 0;
}

//header
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color:#292A2A;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 4rem;
  place-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1em;
  color: white;

  &::before {
    content: "< / >";
    font-size: 14px;
    
    border: 2px solid white;
    padding: 8px;
  }
}

nav  > ul {
  display: flex;
  list-style: none;
  gap: 16px;
  justify-content: center;
  align-items: center;

  & > li {
    color: whitesmoke;
    font-family: "serif", sans-serif;
    font-weight: 600;
  }
}

a {
  color: whitesmoke;
  text-decoration: none;

  &:hover {
    color: yellow;
  }
}


//component home

#home-container {
  padding: 3em 3em;
  color: $basicDark;
  display: flex;
  gap: 8rem;
  align-items: center;
  margin: 2em 0 0 0;

  & > div > div {
    margin-top: 1rem;
  }
}

//component resume

#container-resume {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  padding: 3em 3em;

  & .about {
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: max-content;
    gap: 3em;
  }
  & .content-resume {
    display: flex;
    direction: column;
    gap: 4em;

    & > div {
      width: 60%;
    }
  }
}

//componente label

.label {
  color: grey;
  font-size: 1rem;
  font-style: oblique;

  &--dark {
    color: #bdc3c7;
    font-size: 1rem;
    font-style: oblique;
  }
}

.label-center {
  color: grey;
  font-size: 1rem;
  font-style: oblique;
  text-align: center;
}

//component box

.box-container {
  box-shadow: 2px 2px 2px transparent;
  border: 1px solid;
  padding: 1em;
}

// cards
.card-container {
  background-color: $basicColor;
  border: 1px solid $darkGrey;
  border-radius: 15px;
  box-shadow: 2px -2px 0px 0px rgba(240, 243, 244);
  color: $basicDark;
  height: auto;
  padding: 8px;
  display: flex;
  gap: 11px;
  min-width: 120px;
  max-width: 148px;
  flex-direction: column;
  align-items: center;
}

.logos-card {
  height: 60px;
  width: 30px;
}

// component skills

.block-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > h3 {
    margin-bottom: 2em;
  }
  & .skills-container{
    display: flex;
    flex-direction: column;
    & > div {
      display: flex;
      gap: 1em;
      justify-content: flex-start;
    }

  }

}

// page experience
.text-orange {
  color: orange;
}

// page contact

.contact-container {
  padding: 2em;
  background-color: $darkGrey;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    text-align: center;
  }
  & .info-contact {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

